:root {
    --pink: #e84393;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 1);
}

.header-btn {
    border: 1px solid var(--pink);
    margin: 1px 0 0 0;
}

.header-btn:hover {
    color: white;
}

header .logo {
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

header .navbar a {
    font-size: 2rem;
    padding: .7rem 1.5rem;
    color: #333;
    text-decoration: none;
}

header .navbar a:hover {
    color: var(--pink);
}

header .icons a {
    font-size: 1.8rem;
    color: #333;
    margin-left: 1rem;
    text-decoration: none;
}

header #toggler {
    display: none;
}

header .fa-bars {
    display: none;
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: 1px solid black;
}

@media(max-width:991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }
}

@media (max-width:768px) {
    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
    }

    header #toggler:checked~.navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        display: block;
        margin: 1.rem;
        padding: 1.5rem;
        background: white;
        border: .1rem solid rgba(0, 0, 0, .1);
    }

    p {
        position: relative;
    }
}

@media(max-width:450px) {
        {
        font-size: 50%;
    }
}

section {
    padding: 2rem 2%;
}

.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(/assets/img/happy-mothers-day-gd8d13b93d_1920.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: flex-end;
}

.home .content {
    max-width: 50rem;
}

.home .content h3 {
    font-size: 6rem;
    color: #333;
}

.home .content span {
    font-size: 3.5rem;
    color: var(--pink);
    padding: 1rem 0;
    line-height: 1.5;
}

.home .content p {
    font-size: 1.5rem;
    color: #999;
    padding: 1rem 0;
    line-height: 1.5;
}

.box {
    width: 300px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, .1);
    border-radius: 10px;
    overflow: hidden;
    left: 50%;
    top: 50%;
    margin: 25xp;

}

.slide-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.detail-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.type {
    display: flex;
    flex-direction: column;
}

.type a {
    color: #222222;
    margin: 5px 0px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-right: 8px;

}

.type span {
    color: var(--pink);
}

.price {
    color: #333333;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: poppins;
    letter-spacing: 0.5px;
}

.overlay {
    /* position: absolute; */
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(92, 95, 236, 0.6);
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.buy-btn {
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #e84393;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, .1);
}

.buy-btn:hover {
    color: #fff;
    background-color: #f15fa3;
    transition: all ease 0.3s;
}

.overlay {
    visibility: hidden;
    animation: fade 0.5s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.heading {
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 51, 153, .05);
}

.heading span {
    color: var(--pink);
}

.about .row {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about .row .video-container {
    flex: 1 1 40rem;
    position: relative;
}

.about .row .video-container img {
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
    height: 100%;
    object-fit: cover;
}

.about .row .content {
    flex: 1 1 40rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #333;
}

.about .row .content p {
    font-size: 1.5rem;
    color: #999;
    padding: 0.5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

.icons-container {
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons {
    background: #fff;
    border: 0.1rem solid rgba(0, 0, 0, .1);
    padding: 2rem;
    display: flex;
    align-items: center;
    flex: 1 1 25rem;
}

.icons-container .icons img {
    height: 5rem;
    margin-right: 2rem;
}

.icons-container .icons h3 {
    color: #333;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
}

.icons-container .icons span {
    color: #555;
    font-size: 1.3rem;
}











.login {
    padding: 10rem 2%;
}

.register {
    padding: 10rem 2%;
}

#login-form-wrap {
    background-color: #fff;
    width: 35%;
    margin: 30px auto;
    text-align: center;
    padding: 20px 0 0;
    border-radius: 4px;
    box-shadow: 0 30px 50px 0 rgb(0 0 0 / 20%);
}

#login-form-wrap h2 {
    font-weight: 300;
    text-align: center;
}

#login-form {
    padding: 0 60px;
}

p {
    position: relative;
}

input[type=password],
input[type=email],
input[type=text] {
    width: 100%;
    padding: 0 0 0 10px;
    margin: 0;
    color: #8a8b8e;
    border: 1px solid #c2c0ca;
    font-style: normal;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: inline-block;
    background: 0 0;
}

input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
    border: 1px solid var(--pink)
}

.validation {
    display: none;
    position: absolute;
    content: " ";
    height: 60px;
    width: 30px;
    right: 15px;
    top: 0;
}

input[type=submit] {
    border: none;
    display: block;
    background-color: var(--pink);
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    font-size: 18px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

[type=submit],
[type=reset],
button,
html [type=button] {
    -webkit-appearance: button;
}

#create-account-wrap {
    background-color: #eeedf1;
    color: #8a8b8e;
    font-size: 14px;
    width: 100%;
    padding: 10px 0;
    border-radius: 0 0 4px 4px;
}

.login p {
    position: relative;
    margin-bottom: 1rem;
}

.register p {
    position: relative;
    margin-bottom: 1rem;
}

.login h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.register h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

@media(max-width:775px) {
    #login-form-wrap {
        width: 100%;
    }
}










.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}

.container-space {
    margin-top: 2rem;
}

@media (min-width: 768px) {
    .col-md-6 {
        -ms-flex: 0 0 50%;
        max-width: 50%;
    }
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.row img {
    vertical-align: middle;
    border-style: none;
}

@media (min-width: 768px) {
    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}
ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
.col-md-4
{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 50px;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}

.mt-4, .my-4 {
    margin-top: 1.5rem!important;
}
.h1, h1 {
    font-size: 2.5rem;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.mt-3, .my-3 {
    margin-top: 1rem!important;
}
.h3, h3, h4, ul {
    font-size: 1.75rem;
}
.buy-button{
    border: 1px solid var(--pink);
    padding: 1rem 1rem;
    cursor: pointer;
    color: var(--pink);
}
.buy-button:hover{
    color: white;
    background: var(--pink);
}
@media(max-width:450px) {
    .row{
        display: block;
    }
}